body
{
    background: url(../imagenes/fondos/fondo1.png);
    background-attachment: fixed;
}
h1
{
    background:#0ACF5D ;
    font-size: 50px;
    
}
.fondo
{
    background: red;
}

.principal
{   widows: 100%; ;
    height: 120px ;
    background:#92adf7 ;
    position: relative;
    
    

}
.pinicio
{
    float: left;

}